/* MotoGP-Desktop*/
/* Hoja de estilo para el juego de memoria con cartas */

/* Regla con el estilo general para las tarjetas del juego */
/* especificidad: 002 */
main article {
    width: 100%;
    aspect-ratio: 3/4;
    height: 13em;
    position: relative;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,.3);
}

/* Regla con la transformación que permite girar la carta cuando se le pone el atributo personalizado data-estado al valor volteada O revelada */
/* especificidad: 012 */
article[data-estado="volteada"],
article[data-estado="revelada"]{
    transform: rotateY(180deg);
}

/* Reglas con los estilos generales para el encabezado y la imagen de la carta */
/* especificidad: 002 */
article h3,
article img {
     /* Aviso sobre color de primer plano no establecido
       Hay un color de fondo establecido (#1c7dcc) y no hay color de primer plano
       Establecemos color de primer plano explícitamente para h3 (color: #FFFFFF;)
    */
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5em;
    /* Cambio de color de fondo para mejorar contraste */
    background: #145B94;
    backface-visibility: hidden;
}

/* Regla para centrar el texto "Memory Card" vertical y horizontalmente en cada carta */
/* especificidad: 002 */
article h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #FFFFFF;

}

/* Regla para rotar las imágenes y que se vean correctamente cuando se giran las cartas */
/* especificidad: 002 */
article img {
    transform: rotateY(180deg);
}