/* Especificidad: 001 */
section {
    text-align: center;
    margin: 1em 0;
}

/* Especificidad: 002 */
section h2 {
    margin: 0.5em 0;
}

/* Especificidad: 002 */
section p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}

/* Especificidad: 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.07em;
    row-gap: 0.25rem;
    justify-items: center;
    align-items: center;
    margin: auto;
}

@media (min-width: 320px) and (max-width: 799px) {
    /* Especificidad: 001 */
    main {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.05em;
        row-gap: 0.25rem;
        max-width: 100vw;
    }
}