/*Eloy Rubio Suárez UO298184*/
/*Especificidad 001*/
nav {
    display: flex;
    gap: 0.5em;
    flex-direction: row;
}

/*Especificidad 001*/
header {
    display: flex;
    align-items: baseline;
    gap: 1em;
    flex-direction: row;
}

@media (min-width: 320px) and (max-width: 799px) {

    /*Especificidad 001*/
    nav {
        /*
            Aviso sobre redefinición de flex-direction
            Permitido-> Uso correcto en media query
        */
        flex-direction: column;
    }

    /*Especificidad 001*/
    header {
        /*
            Aviso sobre redefinición de flex-direction
            Permitido-> Uso correcto en media query
        */
        flex-direction: column;
    }

    /*Especificidad 001*/
    body>p {
        display: none;
    }

    /*Especificidad 001*/
    video {
        width: 100%;
        height: auto;
    }

    /*Especificidad 001*/
    audio {
        width: 100%;
    }
}

/* Especificidad: 0,0,0,2 - Selector de tipo body > div */
body>div {
    width: 80%;
    height: 10%;
    margin: 2em auto;
    border: 0.2em solid #333;
    border-radius: 0.5em;
}

/* Estilos para el SVG de altimetría */
/* Especificidad: 0,0,0,1 - Selector de tipo svg */
svg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}

@media (max-width: 768px) {

    /* Especificidad: 0,0,0,2 - Selector de tipo main section */
    /* Redefine: padding, margin */
    main section {
        padding: 1em;
        margin: 1em 0;
    }

    /* Especificidad: 0,0,2 - Adaptabilidad del carrusel para móviles */
    article h2+img {
        width: 100%;
        height: auto;
    }
    /* Especificidad: 0,0,1 - Adaptabilidad de las tablas para móviles */  
    table {
        width: 100%;            /* que ocupe todo el ancho disponible */
        font-size: 0.6rem;      /* fuente más pequeña */
        border-collapse: collapse;
    }
    /* Especificidad: 0,0,1 0,0,1 - Adaptabilidad de las tablas para móviles */
    th, td {
        padding: 0.1em 0.2em;   /* menos espacio interno */
        text-align: center;     /* opcional, para centrar los números */
    }
    /* Especificidad: 0,0,1 - Adaptabilidad de las tablas para móviles */
    th {
        font-size: 0.65rem;     /* encabezados un poco más grandes que los datos */
    }

}