/* ESPECIFICIDAD: 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8em;
    justify-items: stretch;
    align-items: start;
    margin: 2rem auto;
}

section p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
    text-align: center;
}


/* MEDIA QUERY */
@media (max-width: 799px) {

    /* ESPECIFICIDAD: 001 */
    main {
         /* Aviso sobre redefinición de grid-template-columns y justify-items 
            Redefinición permitida en media query
        */
        grid-template-columns: repeat(2, 1fr);
        justify-items: stretch;
    }
}
