/* Especificidad: 001 */
section {
    text-align: center;
    margin: 1em 0;
}

/* Especificidad: 002 */
section h2 {
    margin: 0.5em 0;
}

/* Especificidad: 002 */
section p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}

/* Especificidad: 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.07em;
    row-gap: 0.25rem;
    justify-items: center;
    align-items: center;
    margin: auto;
}

@media (min-width: 20em) and (max-width: 49.9375em) {
    /* Especificidad: 001 */
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: stretch;
        align-items: center;
        column-gap: 0.5em;
        row-gap: 0.5em;
        padding: 0 0.5em;
        max-width: 100%;
    }
    
    /* Especificidad: 002 */
    main article {
        width: 100%;
        min-height: 20em;
        aspect-ratio: 3/4;
    }
}